<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home" href="/tabs/Home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Series" href="/tabs/Series">
      <ion-icon aria-hidden="true" name="tv-outline"></ion-icon>
      <ion-label>Series</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Films" href="/tabs/Films">
      <ion-icon aria-hidden="true" name="film-outline"></ion-icon>
      <ion-label>Film</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explorer" href="/tabs/explorer">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Explorer</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
