<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Apparence</ion-label>
    </ion-list-header>

    <ion-item lines="none">
      <ion-icon slot="start" [name]="modeClair ? 'sunny-outline' : 'moon-outline'"></ion-icon>

      <ion-toggle (ionChange)="toggleDarkMode($event)" [checked]="modeClair">
        Activer le mode clair
      </ion-toggle>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" fill="outline" color="medium" (click)="resetTheme()">
      Remettre en sombre
    </ion-button>
  </div>
</ion-content>
