<app-header></app-header>

<ion-content [fullscreen]="true">
  @if (mediaDetails) {
    <ion-img [src]="mediaDetails.Poster"></ion-img>

    <div>
      <h2>{{ mediaDetails.Title }}</h2>
      <p>⭐ {{ mediaDetails.imdbRating }}</p>
      <p><strong>Acteurs :</strong> {{ mediaDetails.Actors }}</p>
      <p><strong>Synopsis :</strong> {{ mediaDetails.Plot }}</p>
    </div>
    <ion-button expand="block" (click)="meRappeler()">
      <ion-icon name="alarm-outline" slot="start"></ion-icon>
      Me rappeler à la fin ({{ mediaDetails.Runtime }})
    </ion-button>

    @if(estSauvegarde) {
      <ion-button color="danger" (click)="supprimer()">
        Supprimer
      </ion-button>
    } @else {
      <ion-button color="primary" (click)="ajouter()">
        Ajouter
      </ion-button>
    }
    }


</ion-content>
