<app-header></app-header>

<ion-content [fullscreen]="true">
  @if (mediaDetails) {
    <ion-img [src]="mediaDetails.Poster"></ion-img>

    <div>
      <h2>{{ mediaDetails.Title }}</h2>
      <p>⭐ {{ mediaDetails.imdbRating }}</p>
      <p><strong>Acteurs :</strong> {{ mediaDetails.Actors }}</p>
      <p><strong>Synopsis :</strong> {{ mediaDetails.Plot }}</p>
    </div>
    <ion-button expand="block" (click)="lancerNotification()">
      <ion-icon name="notifications-outline" slot="start"></ion-icon>
      Me rappeler la sortie
    </ion-button>

    <ion-button color="danger">
      Supprimer
    </ion-button>
  }




</ion-content>
