<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="annuler()" class="btn-quitter">Annuler</ion-button>
    </ion-buttons>

    <ion-title class="titre-form">Nouveau Film/Série</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="enregistrer()" class="btn-valider-tout">
        AJOUTER
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nom</ion-label>
      <ion-input [(ngModel)]="nomSaisi" placeholder="Titre..."></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Type</ion-label>
      <ion-select [(ngModel)]="type">
        <ion-select-option value="movie">Film</ion-select-option>
        <ion-select-option value="series">Série</ion-select-option>
      </ion-select>
    </ion-item>

    @if (type === 'movie') {
      <ion-item>
        <ion-label position="stacked">Durée (min)</ion-label>
        <ion-input type="number" [(ngModel)]="dureeSaisie"></ion-input>
      </ion-item>
    }

    @else if (type === 'series') {
      <ion-item>
        <ion-label position="stacked">Nb Saisons</ion-label>
        <ion-input type="number" [(ngModel)]="saisonsSaisi"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nb Épisodes total</ion-label>
        <ion-input type="number" [(ngModel)]="episodesSaisi"></ion-input>
      </ion-item>
    }
  </ion-list>
</ion-content>

