@if (Serie) {
  <ion-item [routerLink]="'/details/' + Serie.id" [detail]="false">
    <div slot="start" [class]="Serie.episodeToBeSeen > 0 ? 'dot dot-unread' : 'dot'"></div>

    <ion-thumbnail slot="start" style="margin-right: 15px; border-radius: 8px; overflow: hidden;">
      <img [alt]="Serie.name" [src]="Serie.imageUrl" />
    </ion-thumbnail>

    <ion-label class="ion-text-wrap">
      <h2>
        {{ Serie.name }}
        <span class="date">
          <ion-note color="warning" style="display: flex; align-items: center; gap: 4px;">
            ★ {{ Serie.note }}
          </ion-note>
          @if (isIos()) {
            <ion-icon aria-hidden="true" name="chevron-forward" size="small"></ion-icon>
          }
        </span>
      </h2>

      <h3>
        @if (Serie.seasonToSee > 0) {
          S{{ Serie.seasonToSee }}E{{ Serie.episodeToSee }}
          @if (Serie.episodeToSeeTitle) { - {{ Serie.episodeToSeeTitle }} }
        } @else {
          Série terminée ou à jour
        }
      </h3>

      <p>
        {{ Serie.description }}
      </p>
    </ion-label>
  </ion-item>
}
