.scroll-horizontal {
  display: flex;
  overflow-x: scroll;
  gap: 12px;
  scroll-snap-type: x mandatory;
}

.scroll-horizontal::-webkit-scrollbar {
  display: none;
}

ion-card {
  flex: 0 0 auto;
  width: 50%;

  scroll-snap-align: start;

  border-radius: 8px;
  overflow: hidden;

  background: var(--stat-card-bg) !important;
  border: 2px solid white;
}
