<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col size="7">
        <ion-searchbar
          placeholder="Chercher..."
          [(ngModel)]="searchQuery"
          (keyup.enter)="lancerRecherche()"
          enterkeyhint="search"
          class="ion-no-padding">
        </ion-searchbar>
      </ion-col>

      <ion-col size="2.5">
        <ion-button expand="block" (click)="lancerRecherche()" color="primary">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="2.5">
        <ion-button expand="block" (click)="OuvertureAjout()" color="secondary">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  @if (contenus.length > 0) {
    @for (film of contenus; track film.imdbID) {
      <ion-card>
        <div (click)="voirDetails(film.imdbID)">
          <ion-img [src]="film.Poster !== 'N/A' ? film.Poster : 'assets/placeholder.png'"></ion-img>
          <ion-card-header>
            <ion-badge [color]="film.Type === 'movie' ? 'primary' : 'tertiary'">
              {{ film.Type === 'movie' ? 'FILM' : 'SÉRIE' }}
            </ion-badge>
            <ion-card-title>{{ film.Title }}</ion-card-title>
            <ion-card-subtitle>{{ film.Year }}</ion-card-subtitle>
          </ion-card-header>
        </div>

        <ion-item lines="none">
          @if (film.estAjoute) {
            <ion-button slot="end" fill="clear" color="success" [disabled]="true">
              <ion-icon slot="start" name="checkmark-circle"></ion-icon>
              Dans ma liste
            </ion-button>
          } @else {
            <ion-button slot="end" fill="clear" (click)="ajouterContent(film); $event.stopPropagation()">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              Ajouter
            </ion-button>
          }
        </ion-item>
      </ion-card>
    }
  }
</ion-content>
